
#sectOne{
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    margin-left: 10em;
    border-radius: 60px;
   height: 500px;
}
#sectOne h2{
    margin-left: 1em;
    
}

#firstname, #lastname, #email{
    
    border-radius: 60px;
    margin: 1em;
    width: 300px;
    margin-right: 0;
    border-color: transparent;
    
}
#textReview{
    width: 460px;
    max-height: 170px;
    border-color: transparent;
    margin: 1em;
    width: 300px;
    margin-right: 0;
}

#submition:hover{
    background: lightblue;
    border-color: transparent;
}
#submition{
    border-radius: 60px;
    margin: 1em;
}

a{
    text-decoration: none;
    color: black;
}

#sectOne{
    display: flex;
    justify-content: center;
}
nav li{
    display: inline-block;
}

#navLnkOne, #navLnkTwo{
    margin-left: 12em;
}

